{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}


	{% if artist %}
		<div class="d-flex justify-content-center">
			<div class="card mb-4 shadow-sm" style="max-width: 500px; width: 100%;">

				{% if artist['coverImage'] is defined and artist['coverImage'] %}
					<img src="{{ artist['coverImage'] }}" class="card-img-top" alt="{{ artist['name'] }}">
					dd
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ artist.name }}</h5>
					<div class="image text-center mb-3">
						<img src="{{ artist.coverImage }}" alt="{{ artist.name }}" class="img-fluid rounded shadow-sm" style="max-width: 50%; width: 100%; height: auto;" loading="lazy">
					</div>

					<p>
						<strong>Genre principal:</strong>
						{{ artist.mainGenre }}</p>
					<p>
						{% if artist.artistMembers %}
							<p>
								<strong>Membres:</strong>
								{{ artist.artistMembers|map(m => m.getMember().getName())|join(', ') }}
							</p>
						{% endif %}
					</p>
					<p>
						<strong>Pays:</strong>
						{{ artist.country ? artist.country.name : 'N/A' }}
					</p>

					<p>
						<strong>Ville de formation:</strong>
						{{ artist.beginArea ? artist.beginArea.name : 'N/A' }}
					</p>

					<p>
						<strong>Année de création:</strong>
						{{ artist.beginDate ? artist.beginDate|date('Y-m-d') : 'N/A' }}
					</p>

					{% if artist.endDate %}
						<p>
							<strong>Fin d'activité:</strong>
							{{ artist.endDate|date('Y-m-d') }}
						</p>
					{% endif %}

					<p>
						<strong>Biographie:</strong>
						{{ artist.summary ?: 'N/A' }}
					</p>


					{% if artist.albums %}
						<p>
							<strong>Albums:</strong>
							{{ artist.albums|map(a => a.title ~ ' (' ~ (a.firstReleaseDate ? a.firstReleaseDate|date('Y') : 'N/A') ~ ')')|join(' | ') }}

						</p>
					{% endif %}
					<div class="container">
						<a href="{{ path('admin') }}" class="btn btn-primary mt-2">Changer d'artiste</a>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<p>Aucun artiste disponible.</p>
	{% endif %}
{% endblock %}
